# Supabase Configuration
REACT_APP_SUPABASE_URL=https://fnysgbojxfbshuzqjmjc.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZueXNnYm9qeGZic2h1enFqbWpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI4NzExMiwiZXhwIjoyMDkwODYzMTEyfQ.3wT8EJws-IERH0IGKiOzl3R1fioNb_F6vQqTc3dNO2w

# WhatsApp Configuration
REACT_APP_WHATSAPP_NUMBER=923319406315

# Contact Information
REACT_APP_PHONE_NUMBER=+923319406315
REACT_APP_EMAIL=FVS@fastjobcareer.com
